* {
  box-sizing: border-box;
}
body::-webkit-scrollbar{
  background-color: #f3f1f1;
  width: 10px;
} 
body::-webkit-scrollbar-thumb{
  background-color: var(--main-color--);
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
body {
  font-family: "Poppins", sans-serif;
}
// SCROLL TOP
.scroll-top {
  cursor: pointer;
  display: none;
  .fa-circle-chevron-up {
    position: fixed;
    right: 30px;
    bottom: 30px;
    color: #1130b5;
    background: #fff;
    z-index: 99999;
    font-size: 30px;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 10px 10px 160px 24px var(--main-color--);
  }
}
